<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="creator.test.logintest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrearUsuario" />
        <activity android:name=".MenuAdminActivity" />
        <activity android:name=".EstudianteInsertarActivity" />
        <activity android:name=".EstudianteEliminarActivity" />
        <activity android:name=".EstudianteActualizarActivity" />
        <activity android:name=".EstudianteConsultarActivity" />
        <activity android:name=".EstudianteMenuActivity" />
        <activity android:name=".DocenteMenuActivity" />
        <activity android:name=".DocenteInsertarActivity" />
        <activity android:name=".DocenteEliminarActivity" />
        <activity android:name=".DocenteActualizarActivity" />
        <activity android:name=".DocenteConsultarActivity" />
        <activity android:name=".MateriaMenuActivity" />
        <activity android:name=".CicloMenuActivity" />
        <activity android:name=".MateriaInsertarActivity" />
        <activity android:name=".MateriaEliminarActivity" />
        <activity android:name=".MateriaConsultarActivity" />
        <activity android:name=".MateriaActualizarActivity" />
        <activity android:name=".CicloInsertarActivity" />
        <activity android:name=".CicloEliminarActivity" />
        <activity android:name=".CicloConsultarActivity" />
        <activity android:name=".CicloActualizarActivity" />
        <activity android:name=".OfertaAcademicaInsertarActivity" />
        <activity android:name=".MenuDocenteActivity" />
        <activity android:name=".AreaEvaluacionInsertarActivity" />
        <activity android:name=".AreaEvaluacionMenuActivity" />
        <activity android:name=".AreaEvaluacionEliminarActivity" />
        <activity android:name=".CuestionarioMenuActivity" />
        <activity android:name=".OfertaAcademicaConsultaActivity" />
        <activity android:name=".CuestionarioInsertarActivity" />
        <activity android:name=".CuestionarioEliminarActivity" />
        <activity android:name=".CuestionarioConsultarActivity" />
        <activity android:name=".CuestionarioActualizarActivity" />
        <activity android:name=".PreguntaMenuActivity" />
        <activity android:name=".OpcionMenuActivity" />
        <activity android:name=".PreguntaInsertarActivity" />
        <activity android:name=".PreguntaEliminarActivity" />
        <activity android:name=".PreguntaConsultarActivity" />
        <activity android:name=".PreguntaActualizarActivity" />
        <activity android:name=".AsignarPreguntasCuestionarioActivity" />
        <activity android:name=".OpcionInsertarActivity" />
        <activity android:name=".OpcionEliminarActivity" />
        <activity android:name=".OpcionConsultarActivity" />
        <activity android:name=".MenuEstudianteActivity" />
        <activity android:name=".EstudianteInscribirActivity" />
        <activity android:name=".RealizarExamenActivity" />
        <activity android:name=".EvaluacionActivity" />
        <activity android:name=".ConsultaNotasActivity" />
        <activity android:name=".NotasActivity"></activity>
    </application>

</manifest>